@page "/"

<PageTitle>Home</PageTitle>

<h1 class="center">Welcome to MTG Card Sort</h1>

<br />

<h3 class="center">This website will help you sort your mtg cards and help you find them when needed</h3>

<br />

<img class="center-img" src="Imgs/Magic_The_Gathering.png" alt="MTG">
